body, html {
    height: auto;
    min-width: 382px;
}

#root {
    min-height: 375px;
}

.carousel-image {
    background-position:0 22%;
	background-repeat:no-repeat;
    background-size:cover;
    height: 193px;
    /* object-fit: cover;
    object-position: 0 22%; */
}

.carousel-image-placeholder {
    height: 193px !important; 
}

.carousel-content {
    min-height: 113px;
  }

.carousel-description {
    overflow: auto;
    height: 60px
}



