body, html {
    height: auto;
    min-width: 382px;
}

#root {
    min-height: 410px;
}

.carousel-image {
    background-position:0 22%;
	background-repeat:no-repeat;
    background-size:cover;
    height: 193px;
    /* object-fit: cover;
    object-position: 0 22%; */
}

.carousel-image-placeholder {
    height: 193px !important; 
}

.carousel-content {
    min-height: 113px;
  }

.carousel-description {
    overflow: auto;
    height: 60px
}

.carousel-controls {
    display: flex;
    justify-content: center;
}

.control {
    height: 25px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 4px;
}

button:disabled {
    opacity: 0.8;
}



