body, html {
    height: 400px;
}


.carousel-image {
    background-position:0 22%;
	background-repeat:no-repeat;
    background-size:cover;
    height: 159px;
    /* object-fit: cover;
    object-position: 0 22%; */
}

.carousel-image-placeholder {
    height: 159px !important; 
}

.carousel-content {
    min-height: 113px;
  }

.carousel-description {
    overflow: auto;
    height: 60px
}